body {
    background-color: #ccc;
    font: 16px Inter, Arial;
    color: #222;
}

.login {
    width: 400px;
    margin: 100px auto;
}

.parsley-errors-list {
    li {
        list-style: none;
        color: #F00;
        margin: 5px 0px 5px -30px;
    }
}

label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.navbar {
    .nav-link {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
    }
}

    .nav-link:hover {
        color: red;
    }

a {
    .erro {
        position: relative;
        left: 470px;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteudo {
    flex: 1;
}

.menu-secao {
    margin-top: 30px;
}


.card-menu {
    border: 1px solid black !important;
    border-radius: 15px !important;
}

.form {
    width: auto;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    
    label {
        font-weight: bold;
    }

    .formulário {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    .mensagem {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    .btn-submit {
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #ccc;
        width: 75px;
        height: 55px;
        transition: all 0.5s
    }

    .btn-submit:hover{
        background-color: #333;
        color: white;
    }
    .btn-reset {
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #ccc;
        width: 75px;
        height: 55px;
        transition: all 0.5s
    }

    .btn-reset:hover{
        background-color: #333;
        color: white;
    }
}